<mat-toolbar color="accent">
  <span>HaploQA</span>
</mat-toolbar>


<div class="page-header">
  <h2>Genome Karyotype Plot</h2>
</div>

<p data-display-when="sample-edit" style="display: none;">
  You can modify the "Contributing Haplotype Strains" below and click "Save Edits". This will
  cause the haplotype structure of this strain to be inferred based on these settings (using a hidden markov
  model) and rendered in a plot below.
</p>
<ngx-genome-karyotype-plot></ngx-genome-karyotype-plot>
<!--<div>-->
<!--  -->
<!--</div>-->
<!--<div>-->
<!--  <ngx-genome-interval-plot></ngx-genome-interval-plot>-->
<!--</div>-->
