<!--<mat-toolbar color="accent">-->
  <h1>HaploQA</h1>
<!--</mat-toolbar>-->


<div class="page-header">
  <h2>Genome Karyotype Plot</h2>
</div>

<ngx-genome-plot-container
  [chrSizes]="chrSizes"
  [strainMap]="strainMap">
  <ngx-genome-karyotype-plot
    [sample]="sample"
    [haploData]="haploData">
    <ngx-genome-haplotype-panel [sample]="sample" slot="header">
      <div slot="header"><h4><strong>Contributing Haplotype Strains:</strong></h4></div>
    </ngx-genome-haplotype-panel>
  </ngx-genome-karyotype-plot>

  <ngx-genome-interval-plot
    [chrSizes]="chrSizes"
    [strainMap]="strainMap"
    [sample]="sample"
    [haploData]="haploData"
    [snpData]="snpData">
    <ngx-genome-haplotype-panel [sample]="sample" slot="footer">
<!--      <mat-icon></mat-icon>-->
    </ngx-genome-haplotype-panel>
  </ngx-genome-interval-plot>

  <ngx-genome-interval-plot
    [chrSizes]="chrSizes"
    [strainMap]="strainMap"
    [sample]="sample"
    [haploData]="haploData"
    [snpData]="snpData">
    <ngx-genome-haplotype-panel [sample]="sample" slot="footer">
<!--      <mat-icon></mat-icon>-->
    </ngx-genome-haplotype-panel>
  </ngx-genome-interval-plot>
</ngx-genome-plot-container>
